<div class="container ">
    <div class="row justify-content-center">
        <div class="card mt-4">
            <div class="card-header">
                <h3 class="text-center">REGISTRO DE USUARIO</h3>
            </div>
            <div class="card-body">
                <form class="form" (submit)="enviar()" [formGroup]="form">



                    <div class="form-group ">
                        <label>nombre</label>
                        <input formControlName="nombre" type="text " class="form-control ">
                    </div>
                    <div class="form-group ">
                        <label>usuario</label>
                        <input type="text" formControlName="usuario" class="form-control ">
                    </div>
                    <div class="form-group ">
                        <label>contraseña</label>
                        <input type="password " formControlName="contrasena" class="form-control ">
                    </div>
                    <div class="form-group ">
                        <label>cedula</label>
                        <input type="text " formControlName="cedula" class="form-control ">
                    </div>
                    <div class="form-group ">
                        <label>correo</label>
                        <input type="text " formControlName="correo" class="form-control ">
                    </div>
                    <div class="form-row ">
                        <div class="form-group col-md-6 ">
                            <label>Provincia</label>
                            <select formControlName="provincia" class="form-control ">
                                <option *ngFor="let pro of provincias; index as i ">
                                {{pro.provincia}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6 ">
                            <label>ciudad</label>
                            <select formControlName="ciudad" class="form-control ">
                                <option selected>seleccione...</option>
                                <option>guayaquil</option>
                                <option>quito</option>
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-primary w-25">enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>